{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<style>
    body{
    background: url('{% static "images/5.jpg" %}') no-repeat center center fixed; 
      background-size: cover;
    }
    .card {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    padding: 30px;
}

.form-group {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.predicted-label {
    margin-top: 30px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

span {
    color: #dc3545;
    font-weight: bold;
}

.image-preview {
    margin-top: 30px;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center mb-0">PLANT DISEASE PREDICTION</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'predictImage' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="filePath">Choose an image file:</label>
                            <input type="file" class="form-control-file btn-upload" id="filePath" name="filePath">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                    {% if predictedLabel %}
                    <div class="predicted-label">
                        <h3>The Classification of the Image is  <span>{{ predictedLabel }}</span></h3>
                    </div>
                    <div class="predicted-label">
                        <h3 class="A">Predicted image:</h3>
                    </div>
                    <div class="image-preview">
                        <img src="{{ MEDIA_URL }}{{ filePathName }}" alt="Uploaded Image">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
